* {
    margin: 0;
    padding: 0;
}

/* shared fonts initialization */

.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared colors */

.color-1-orange{
    color: #FEA301;
}
.color-2-skyblue{
    color: #01ACFD;
}
.color-3{
    color: #05D4DF;
}
.color-4{
    color: #5D58EF;
}
.color-5-black{
    color: black;
}

/* shared styles */

.d-flex{
    display: flex;
}
.btn-1{
    background-color: #FEA301;
    border: none;
    border-radius: 12px;
    padding: 10px 60.5px;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
}
.btn-2{
    background-color: #000000;
    border: none;
    border-radius: 12px;
    padding: 10px 47px;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
}

/* navbar styles */


.navbar{
    margin: 20px 140px;
    justify-content: space-between;
    align-items: center;
}

.navbar-left{
    align-items: center;
    gap: 11px;
}

.nav-title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
}

.nav-middle{
    max-width: 390px;
    justify-content: space-between;
    /* margin-right: 32px; */
    gap: 32px;
}

.nav-middle li{
    list-style: none;
}

.nav-middle li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
}

.nav-middle li.important a{
    font-weight: 700;
}

.menu-icon{
    display: none;
}


/* hero banner section styles */

.banner-container{
    margin: 0 140px;
    justify-content: space-between;
    align-items: center;
}

.banner-contents{
    max-width: 640px;
    margin: 122px 0;
}

.contents-title{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 61px;
}

.contents-description{
    font-size: 1.25rem;
    margin: 24px 0;
}



@media screen and (max-width:576px) {
    
    .navbar-container{
        border-bottom: 0.5px solid #FEA301;
    }
    .navbar{
        margin: 12px 16px;
        justify-content: space-between;
        align-items: center;
        
    }
    .nav-title{
        display: none;
    }
    .nav-middle{
        display: none;
    }
    .btn-1{
        display: none;
    }
    .menu-icon{
        display: inline;
    }

    .banner-container{
        margin: 8px 16px;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-container img{
        width: 100%;
    }

    .banner-contents{
        margin: 20px auto;
        text-align: center;
    }

    .contents-title{
        font-size: 2rem;
        font-weight: 700;
        line-height: normal;
    }
}

